<nav class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">My Finance Manager</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <app-transaction-input></app-transaction-input>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 income-container">
      <app-income-list [incomes]="incomes"></app-income-list>
    </div>
    <div class="col-md-6 expenses-container">
      <app-expenses-list [expenses]="expenses"></app-expenses-list>
    </div>
  </div>
</div>
